* {
  box-sizing: border-box;
  padding: 0%;
  scroll-behavior: smooth;
  margin: 0%;
}
.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #caf4ff;
  padding: 1em;
}
.list_display {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  flex-wrap: nowrap;
}
a {
  text-decoration: none;
  font-size: large;
}
.list_item {
  border-radius: 10%;
  padding: 2% 4% 2% 4%;
}
.list_item:hover {
  background-color: #ffdb5c;
}
.products_items {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.products {
  width: 25vw;
  height: 35vw;
  margin: 1% 1% 0% 1%;
}
img {
  width: 23vw;
}
#butt {
  width: 23vw;
  padding: 4%;
  border: none;
  background-color: #ffdb5c;
  border-radius: 2%;
}
button:hover {
  background-color: #caf4ff;
}
.text_decor {
  display: flex;
  justify-content: space-between;
  padding: 2% 6% 2% 0%;
}
footer {
  background-color: #caf4ff;
  height: 21.75vh;
  width: 100%;
  padding: 2%;
}
.lineOne {
  padding: 2% 0% 1% 0%;
}
.product_name {
  padding: 4% 0% 2% 0%;
}
.product_name:hover {
  text-decoration: underline;
}
.price {
  padding: 2% 0% 2% 0%;
}
.discountPrice {
  text-decoration: line-through;
  padding: 0% 0% 2% 0%;
}
#portfolio {
  display: flex;
  flex-direction: row;

  margin: 0% 10% 0% 10%;
}
.portfolioBox {
  height: 40vw;
  width: 50vw;
}
.portfolioImage {
  width: 100%;
  height: 100%;
  padding: 2%;
  border-radius: 5%;
}
.detail {
  width: 100%;
  height: 15vw;
  background-color: #caf4ff;
  display: flex;
  flex-direction: row;
}
.heading {
  padding: 4%;
}
.aboutMe {
  width: 50%;
  height: 100%;
  padding: 5%;
  text-align: center;
  font-size: large;
}
#contactUs {
  display: flex;
  flex-direction: row;
  background: #caf4ff;
  margin: 0% 10% 0% 10%;
  width: 80%;
}
.contactMap,
.contactForm {
  width: 50%;
  height: 40vw;
}
.contactMap {
  padding: 1%;
}
.contactUsHeading {
  padding: 5% 2% 5% 2%;
  text-align: center;
}
.contactUsLine {
  padding: 0% 0% 2% 0%;
  text-align: center;
}
.inputText {
  padding: 2%;
  width: 100%;
  outline: none;
}
textarea {
  font-size: large;
}
.align {
  width: 100%;
  padding: 0% 2% 0% 2%;
}
.label {
  padding: 0% 2% 0% 2%;
}
.btnSubmit {
  margin-left: 87%;
  padding: 2%;
  border: none;
  background-color: #ffdb5c;
  border-radius: 5%;
}
.btnSubmit:hover {
  border: 2px solid #5ab2ff;
}
.aboutMeDetail {
  display: flex;
  justify-content: space-between;
  padding: 2% 0% 2% 0%;
}
.data {
  background-color: #ffdb5c;
  padding: 0% 3% 0% 3%;
  border-radius: 5%;
}
.subheading {
  padding: 3% 0% 3% 0%;
}
